
.wy-nav-content {
    max-width: 1400px !important;
}

div.document {
    width: auto;
    margin: 30px auto 0 auto;
}

div.body{
    max-width: 95%;
    margin: 50px auto 0 auto;
}

.function {
    border-bottom: 3px solid #d0d0d0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.wy-side-nav-search, .wy-nav-top {
    background: #222a36;
}

.wy-side-nav-search .wy-dropdown > a.icon img.logo, .wy-side-nav-search > a.icon img.logo {
    margin-top: .1em;
}
.wy-side-nav-search .wy-dropdown > a, .wy-side-nav-search > a {
    margin-bottom: .1em;
}

.rst-content .viewcode-back, .rst-content .viewcode-link {
    padding-left: 3px;
}

dt.py{
    width: 100%;
}
.rst-content.style-external-links dt.py a.reference {
    float:right;
}
.rst-content.style-external-links a.reference.external::after {
    font-family: FontAwesome;
    content: "\f08e";
    color: #b3b3b3;
    vertical-align: super;
    font-size: 60%;
    margin: 0 .2em;
}
